.icon-ps {
    width: 24px;
    height: 24px;
    background-image: url('ps.svg');
    background-repeat: no-repeat;
    background-size: contain;
}

.icon-gdf {
    width: 24px;
    height: 24px;
    background-image: url('gdf.svg');
    background-repeat: no-repeat;
    background-size: contain;
}

.icon-cc {
    width: 24px;
    height: 24px;
    background-image: url('cc.svg');
    background-repeat: no-repeat;
    background-size: contain;
}

.icon-ares {
    width: 24px;
    height: 24px;
    background-image: url('ares.svg');
    background-repeat: no-repeat;
    background-size: contain;
}

.icon-cri {
    width: 24px;
    height: 24px;
    background-image: url('ares.svg');
    background-repeat: no-repeat;
    background-size: contain;
}

.icon-vvf {
    width: 24px;
    height: 24px;
    background-image: url('percorso-dell-icona.svg');
    background-repeat: no-repeat;
    background-size: contain;
}

.icon-comune {
    width: 24px;
    height: 24px;
    background-image: url('ares.svg');
    background-repeat: no-repeat;
    background-size: contain;
}

.icon-locale {
    width: 24px;
    height: 24px;
    background-image: url('ares.svg');
    background-repeat: no-repeat;
    background-size: contain;
}

.icon-anas {
    width: 24px;
    height: 24px;
    background-image: url('ares.svg');
    background-repeat: no-repeat;
    background-size: contain;
}

.icon-dpc {
    width: 24px;
    height: 24px;
    background-image: url('ares.svg');
    background-repeat: no-repeat;
    background-size: contain;
}

/* Made by @Bordless#7020 for FiveM Italian Community whit <3